<sectiomn>
    <h1>
    Hello this is for testing
    </h1>
    
    <section>

        {% schema %}
          {
            "name": "Testing Section",
            "tag": "section",
            "class": "section",
            "settings": [
              
            ],
            "presets": [
              {
                "name": "Testing Section",
                "settings": {
                }
              }
            ]
          }
        {% endschema %}